.skills-content{
    margin-right: 10%;
    margin-bottom: 20px;
    width: 30%;
    text-align: right;
    font-family: Montserrat;
    font-style: bold;
    line-height: 107%;
    letter-spacing: -0.00438rem;
}

