.text-education{
    color: #1A181B;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Montserrat;
    line-height: 107%;
    letter-spacing: -0.00438rem;
}